@charset "UTF-8";

/*-- Imports --*/
@import url(normalize.css);

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Universal
2.0 - CSS Variables
3.0 - Objects: class-based selectors
4.0 - Typography
        - HTML
        - Headlines & Text
        - Links
5.0 - Components: specific designed components
6.0 - Header
7.0 - Footer
8.0 - Sections

/*--------------------------------------------------------------
    1.0 - Universal
-------------------------------------------------------------- */

* {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 1.25rem;
}

/*--------------------------------------------------------------
    2.0 - CSS Variables
-------------------------------------------------------------- */
:root {
    --color-black: #000;
    --color-white: #fff;
    --padding: 2rem;
    --spacing: 5rem;
}

/*--------------------------------------------------------------
    3.0 - Structure Classes
-------------------------------------------------------------- */
.sr-only {
    border-width: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1080px;
}

/*--------------------------------------------------------------
    4.0 - Typography
-------------------------------------------------------------- */

/*-- Headlines --*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}

/* ----- Text ----- */
p {
    font-size: 1rem;
}

/*--------------------------------------------------------------
    5.0 - Component Classes
-------------------------------------------------------------- */

/*--------------------------------------------------------------
    6.0 - Header
-------------------------------------------------------------- */
header.site-header {}

/* ----- Nav ----- */
header.site-header nav ul {
    display: grid;
    gap: 2rem;
    grid: auto / repeat(3, auto);
    justify-content: right;
    list-style: none;
    padding: 1rem 2rem;
    margin: 0;
}

/*--------------------------------------------------------------
    7.0 - Footer
-------------------------------------------------------------- */
footer.site-footer {}

/*--------------------------------------------------------------
    8.0 - Sections
-------------------------------------------------------------- */


/* ----- MAIN ----- */
main > section {
    padding: 100px 2rem;
}

/* ----- HERO ----- */
.hero {
    background: paleturquoise;
}

/* ----- Abriel SECTION ----- */
.abriel {
    background: palevioletred;
}

/* ----- STORY ----- */
.story {
    background-color: rgb(238, 160, 199);
}

/* ----- Marina Section ----- */
.marina {
    background-color: burlywood;
}

/* -----EDGAR SECTION----- */
.edgar {
    background-color: mediumaquamarine;
}

/* ----------- Angel Section------------ */
.angel {
    background-color: blue;
}

/* ---- Mila Section ---- */
.mila {
    background: rgb(241, 218, 255);
}

/* ----- EMMA SECTION -----*/
.emma {

    background-color: rgb(184, 221, 188);
}

/*------Genesis Section ------*/
.genesis {
    background: rgb(255, 172, 186);
}

/* ----- LEXI SECTION ----- */
.lexi {
  background-color: rgb(185, 19, 74);
}

/* ----- LANDON ----- */
.landon {
  background-color: rgb(6, 217, 122);
}

/*-- Zoe Section --*/
.zoe{
    background-color: peachpuff;
}

/* ----- VI SECTION ----- */

.vi {
    background-color: #e8c6d7;
}

/* ----- ANITA SECTION ----- */
.anita {
    background-color: rgb(124, 7, 186);
}

/* ----- JOLIE SECTION ----- */
.jolie {
    background-color: rgb(127, 212, 255);
}

/*----- EMILY SECTION ----*/
.emily {
    background-color: #879eb2;
}

/* Maggie Section */
.maggie {
    background-color: #4a7ca8;
}

/*----- Valeria SECTION ----*/
.valeria {
    background-color: #90C2E7;
}